body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: row;
}

#left-panel {
    flex: 0 0 24%;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    border-right: 1px solid #ddd;
}

#right-panel {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0;
}

#player {
    width: 100%;
    aspect-ratio: 4 / 3;
    max-height: calc(100vh - 50px);
    border: 1px solid #ddd;
}

table {
    width: 100%;
    max-width: 500px;
    border-collapse: collapse;
}

table th {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 8px;
    font-weight: bold;
}

table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table td:first-child {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#notes-section {
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    max-height: 250px;
    overflow-y: auto;
    margin-bottom: 10px;
}

#notes-section h3 {
    font-size: 14px;
    font-weight: bold;
}
