<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance Playlists</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Dance Playlists</h1>
    <div id="dance-style-buttons">
        {% for dance_type in dance_types %}
        <a href="/{{ dance_type }}">
            <button>{{ dance_type.capitalize() }}</button>
        </a>
        {% endfor %}
    </div>
</body>
</html>
